#modal2.modal.fade(tabindex='-1' role='dialog' aria-labelledby='modalTitle' aria-hidden='true')
	.modal-dialog.modal-xl.modal-dialog-centered(role='document')
		.modal-content
			h3.text-center.mb-4: small Давайте обсудим детали вашего проекта
			p.text-center.mb-4 Полный цикл разработки инструментов для роста вашего бизнеса
			.row.align-items-center.justify-content-center.mx-n3
				.box-modal-container.mx-3.position-relative
					.box_modal.box1(style='background: url("img/content/modal-img (1).jpg") no-repeat center/cover')
						p Сайты
					a.nolink.stretched-link.position-static(href="" data-toggle="modal" data-target="#modal10").btn2.btn2-sm.px-0.w-100.py-3 Узнать больше
				.box-modal-container.mx-3.position-relative
					.box_modal.box2(style='background: url("img/content/modal-img (2).jpg") no-repeat center/cover')
						p
							| Landing
							br
							| Page
					a.nolink.stretched-link.position-static(href="http://mk.rodionoff.biz/").btn2.btn2-sm.px-0.w-100.py-3 Узнать больше
				.box-modal-container.mx-3.position-relative
					.box_modal.box3(style='background: url("img/content/modal-img (3).jpg") no-repeat center/cover')
						p
							| Маркетинг-
							br
							| киты
					a
					a.nolink.stretched-link.position-static(href="" data-toggle="modal" data-target="#modal10").btn2.btn2-sm.px-0.w-100.py-3 Узнать больше
				.box-modal-container.mx-3.position-relative
					.box_modal.box4(style='background: url("img/content/modal-img (4).jpg") no-repeat center/cover')
						p
							| Видео-
							br
							| презентации
					a.nolink.stretched-link.position-static(href="" data-toggle="modal" data-target="#modal10").btn2.btn2-sm.px-0.w-100.py-3 Узнать больше
				.box-modal-container.mx-3.position-relative
					.box_modal.box5(style='background: url("img/content/modal-img (5).jpg") no-repeat center/cover')
						p
							| Дизайн
							br
							| полиграфии
					a.nolink.stretched-link.position-static(href="" data-toggle="modal" data-target="#modal10").btn2.btn2-sm.px-0.w-100.py-3 Узнать больше
				.box-modal-container.mx-3.position-relative
					.box_modal.box6(style='background: url("img/content/modal-img (6).jpg") no-repeat center/cover')
						p
							| Продающие
							br
							| и PR тексты
					a.nolink.stretched-link.position-static(href="" data-toggle="modal" data-target="#modal10").btn2.btn2-sm.px-0.w-100.py-3 Узнать больше
				.box-modal-container.mx-3.position-relative
					.box_modal.box7(style='background: url("img/content/modal-img (7).jpg") no-repeat center/cover')
						p
							| Email-
							br
							| рассылки
					a.nolink.stretched-link.position-static(href="" data-toggle="modal" data-target="#modal10").btn2.btn2-sm.px-0.w-100.py-3 Узнать больше
				.box-modal-container.mx-3.position-relative
					.box_modal.box8(style='background: url("img/content/modal-img (8).jpg") no-repeat center/cover')
						p
							| Логотип
							br
							| и фирменный стиль
					a.nolink.stretched-link.position-static(href="" data-toggle="modal" data-target="#modal10").btn2.btn2-sm.px-0.w-100.py-3 Узнать больше
				.box-modal-container.mx-3.position-relative
					.box_modal.box9(style='background: url("img/content/modal-img (9).jpg") no-repeat center/cover')
						p
							| Скрипты
							br
							| продаж
					a.nolink.stretched-link.position-static(href="" data-toggle="modal" data-target="#modal10").btn2.btn2-sm.px-0.w-100.py-3 Узнать больше

#modal3.modal.fade(tabindex='-1' role='dialog' aria-labelledby='modalTitle' aria-hidden='true')
	.modal-dialog.modal-xl.modal-dialog-centered(role='document')
		.modal-content.p-0.cloud-bg
			.row.m-0
				.col-6.mb-5.p-5
					h3.mb-4 Как выбрать маркетинговое агентство для сотрудничества?
					p Если у вас есть ощущение, что человек с которым вы работаете, не профессионал, то это вам не кажется и работать с такими людьми не стоит.
					p Если компания, отвечая на ваши вопросы, начинает юлить - это плохой знак. Ваш будущий партнер должен быть с вами честен и вести открытую политику.
					p Лучше обращаться в некрупные компании. У больших фирм все поставлено на поток, и они не смогут обеспечить вам необходимый уровень внимания и сервиса – особенно если ваш заказ небольшой.
				.col-6.d-flex.align-items-center.justify-content-center
					img.modal-img(src="img/general/modern.png", alt="")
				.col-6.d-flex.align-items-center.justify-content-center
					img.modal-img2(src="img/general/modal-img2.png", alt="")
				.col-6.pt-5.mb-5.p-5
					h3.mb-4 Как составить оптимальную структуру коммерческого предложения?
					p Старайтесь не отталкиваться от личного опыта. Если вам лично не нравятся короткие или длинные тексты, это не значит, что они не будут работать. Доверьтесь профессионалам, имеющим опыт составления КП для различных ниш и сфер бизнеса.
					p Если вы ранее пробовали разрабатывать коммерческое предложение самостоятельно, но результат получился неудовлетворительный, не ставьте на этом крест. Рассылка коммерческих предложений один из самых эффективных способов коммуникации с клиентом.
					p Как показывает практика, чтобы подтолкнуть окончательно человека к покупке, необходимо до 4 рекламных касаний. Следовательно, если вы совершаете холодные звонки или обрабатываете входящие заявки, то коммерческое предложение сможет стать финальным шагом к заключению сделки.
				.col-6.mb-5.p-5
					h3.mb-4 Как повысить эффективность работы с маркетинговым агентством?
					p Поставьте четкую цель, согласуйте ее и убедитесь, что все ее поняли. Правильно поставленная цель является залогом хорошего результата. Вы хотите получить лаконичное коммерческое предложение в минималистичном стиле? Формулируйте цель как можно конкретнее.

					p Пусть хорошие отношения между вами и менеджером агентства не позволяют спускать важные вещи на тормоза. Если вам должны были предоставить результат в течение 10 дней после заказа, требуйте его. Для срыва сроков должна быть веская причина.

					p Старайтесь быть честными с агентством и требуйте этого от него в ответ. Тогда сотрудничество принесет вам хорошие результаты и удовольствие от совместной работы. Стройте взаимоотношения на доверии и уважении.

					p Если вам предлагают дешевую альтернативу, обязательно спрашивайте почему? Возможно, снижение цены сильно скажется на качестве текста или дизайна, а значит и эффективности коммерческого предложения. У резкого снижения цены всегда должна быть своя причина.

					p Если вам нравится компания по сервису, но ее предложение немного дороже, скажите ей об этом. Скорее всего, вы сможете прийти к компромиссу.
				.col-6.d-flex.align-items-center.justify-content-center.position-relative
					img.modal-img3(src="img/general/modal-img3.png", alt="")
			form.w-100.text-center.d-flex.flex-column.m-auto.mw-100.p-5
				h3: small Давайте обсудим детали вашего проекта
				p Оставьте заявку и мы перезвоним вам
				.inputs-container.d-flex.justify-content-center.mx-n3
					input(type='hidden' name='admin_email' value='v4nich@gmail.com')
					input(type='hidden' name='project_name' value='Rodionoff')
					input(type='hidden' name='form_subject' value='Ценные советы')
					input.mb-4.input-name.mx-3.w-100(type="text" required name='Имя' placeholder="Введите ваше имя")
					input.mb-4.input-phone.mx-3.w-100(type="text" required name='Телефон' placeholder="Введите ваш номер")
					button.mb-4.btn2.py-3.w-100.mx-3 Обсудить проект
				.button-container
					
				small Нажимая на кнопку, вы принимаете условия политики конфиденциальности

#modal5.modal.fade(tabindex='-1' role='dialog' aria-labelledby='modalTitle' aria-hidden='true')
	.modal-dialog.modal-dialog-centered(role='document')
		.modal-content.border-0
			form.text-center.d-flex.flex-column.m-auto.mw-100
				h3: small Давайте обсудим детали вашего проекта
				p Оставьте заявку и мы перезвоним вам
				input(type='hidden' name='admin_email' value='v4nich@gmail.com')
				input(type='hidden' name='project_name' value='Rodionoff')
				input(type='hidden' name='form_subject' value='СВЯЗАТЬСЯ С ДИРЕКТОРОМ ЛИЧНО')
				input.mb-4.input-name(type="text" required name='Имя' placeholder="Введите ваше имя")
				input.mb-4.input-phone(type="text" required name='Телефон' placeholder="Введите ваш номер")
				input.mb-4.input-mail(type="mail" required name='Почта' placeholder="Введите ваш E-Mail") 
				button.mb-4.btn2.px-0.py-3 Обсудить проект
				small Нажимая на кнопку, вы принимаете условия политики конфиденциальности
#modal6.modal.fade(tabindex='-1' role='dialog' aria-labelledby='modalTitle' aria-hidden='true')
	.modal-dialog.modal-dialog-centered(role='document')
		.modal-content.border-0
			form.text-center.d-flex.flex-column.m-auto.mw-100
				h3: small Давайте обсудим детали вашего проекта
				p Оставьте заявку и мы перезвоним вам
				input(type='hidden' name='admin_email' value='v4nich@gmail.com')
				input(type='hidden' name='project_name' value='Rodionoff')
				input(type='hidden' name='form_subject' value='«VIP»')
				input.mb-4.input-name(type="text" required name='Имя' placeholder="Введите ваше имя")
				input.mb-4.input-phone(type="text" required name='Телефон' placeholder="Введите ваш номер")
				input.mb-4.input-mail(type="mail" required name='Почта' placeholder="Введите ваш E-Mail") 
				button.mb-4.btn2.px-0.py-3 Обсудить проект
				small Нажимая на кнопку, вы принимаете условия политики конфиденциальности
#modal7.modal.fade(tabindex='-1' role='dialog' aria-labelledby='modalTitle' aria-hidden='true')
	.modal-dialog.modal-dialog-centered(role='document')
		.modal-content.border-0
			form.text-center.d-flex.flex-column.m-auto.mw-100
				h3: small Давайте обсудим детали вашего проекта
				p Оставьте заявку и мы перезвоним вам
				input(type='hidden' name='admin_email' value='v4nich@gmail.com')
				input(type='hidden' name='project_name' value='Rodionoff')
				input(type='hidden' name='form_subject' value='«ОПТИМА»')
				input.mb-4.input-name(type="text" required name='Имя' placeholder="Введите ваше имя")
				input.mb-4.input-phone(type="text" required name='Телефон' placeholder="Введите ваш номер")
				input.mb-4.input-mail(type="mail" required name='Почта' placeholder="Введите ваш E-Mail") 
				button.mb-4.btn2.px-0.py-3 Обсудить проект
				small Нажимая на кнопку, вы принимаете условия политики конфиденциальности
#modal8.modal.fade(tabindex='-1' role='dialog' aria-labelledby='modalTitle' aria-hidden='true')
	.modal-dialog.modal-dialog-centered(role='document')
		.modal-content.border-0
			form.text-center.d-flex.flex-column.m-auto.mw-100
				h3: small Давайте обсудим детали вашего проекта
				p Оставьте заявку и мы перезвоним вам
				input(type='hidden' name='admin_email' value='v4nich@gmail.com')
				input(type='hidden' name='project_name' value='Rodionoff')
				input(type='hidden' name='form_subject' value='«БАЗОВЫЙ»')
				input.mb-4.input-name(type="text" required name='Имя' placeholder="Введите ваше имя")
				input.mb-4.input-phone(type="text" required name='Телефон' placeholder="Введите ваш номер")
				input.mb-4.input-mail(type="mail" required name='Почта' placeholder="Введите ваш E-Mail") 
				button.mb-4.btn2.px-0.py-3 Обсудить проект
				small Нажимая на кнопку, вы принимаете условия политики конфиденциальности
#modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='modalTitle' aria-hidden='true')
	.modal-dialog.modal-dialog-centered(role='document')
		.modal-content.border-0
			form.text-center.d-flex.flex-column.m-auto.mw-100
				h3: small Давайте обсудим детали вашего проекта
				p Оставьте заявку и мы перезвоним вам
				input(type='hidden' name='admin_email' value='v4nich@gmail.com')
				input(type='hidden' name='project_name' value='Rodionoff')
				input(type='hidden' name='form_subject' value='ПОЛУЧИТЬ КОНЦЕПЦИЮ')
				input.mb-4.input-name(type="text" required name='Имя' placeholder="Введите ваше имя")
				input.mb-4.input-phone(type="text" required name='Телефон' placeholder="Введите ваш номер")
				input.mb-4.input-mail(type="mail" required name='Почта' placeholder="Введите ваш E-Mail") 
				button.mb-4.btn2.px-0.py-3 Обсудить проект
				small Нажимая на кнопку, вы принимаете условия политики конфиденциальности

#modal9.modal.fade(tabindex='-1' role='dialog' aria-labelledby='modalTitle' aria-hidden='true')
	.modal-dialog.modal-dialog-centered(role='document')
		.modal-content.border-0
			form.text-center.d-flex.flex-column.m-auto.mw-100
				h3: small Давайте обсудим детали вашего проекта
				p Оставьте заявку и мы перезвоним вам
				input(type='hidden' name='admin_email' value='v4nich@gmail.com')
				input(type='hidden' name='project_name' value='Rodionoff')
				input(type='hidden' name='form_subject' value='Проконсультироваться')
				input.mb-4.input-name(type="text" required name='Имя' placeholder="Введите ваше имя")
				input.mb-4.input-phone(type="text" required name='Телефон' placeholder="Введите ваш номер")
				input.mb-4.input-mail(type="mail" required name='Почта' placeholder="Введите ваш E-Mail") 
				button.mb-4.btn2.px-0.py-3 Обсудить проект
				small Нажимая на кнопку, вы принимаете условия политики конфиденциальности

#modal10.modal.fade(tabindex='-1' role='dialog' aria-labelledby='modalTitle' aria-hidden='true')
	.modal-dialog.modal-dialog-centered(role='document')
		.modal-content.border-0
			form.text-center.d-flex.flex-column.m-auto.mw-100
				h3: small Давайте обсудим детали вашего проекта
				p Оставьте заявку и мы перезвоним вам
				input(type='hidden' name='admin_email' value='v4nich@gmail.com')
				input(type='hidden' name='project_name' value='Rodionoff')
				input(type='hidden' name='form_subject' value='Другие наши услуги')
				input.mb-4.input-name(type="text" required name='Имя' placeholder="Введите ваше имя")
				input.mb-4.input-phone(type="text" required name='Телефон' placeholder="Введите ваш номер")
				input.mb-4.input-mail(type="mail" required name='Почта' placeholder="Введите ваш E-Mail") 
				button.mb-4.btn2.px-0.py-3 Обсудить проект
				small Нажимая на кнопку, вы принимаете условия политики конфиденциальности
.modal.fade.bd-example-modal-sm(tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true")
	.modal-dialog
		.modal-content
			.thanks.p-5.text-center
				h2.text-primary Спасибо за заявку! 
				p.subtitle В ближайшее время с вами свяжется наш менеджер"
