footer.footer
  .container.d-flex.justify-content-between.align-items-center.py-3
    a(href="/"): img.logo(src="img/general/logo.png", alt="")
    .phone.text-right 
      a.link.b(href="tel: +7-499-649-21-55") +7-499-649-21-55 <br>
      a.text-small.link(href="" data-toggle="modal" data-target="#modal") Заказать звонок

