extends templates/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'
block content
	section.section-banner
		.container
			.row
				.col-lg-5
					.banner-text Разработка коммерческих предложений <span class="text-accent">«под ключ»</span>
					button.btn.btn-2.btn-2g"Button