extends templates/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'
block content
	section.section-banner
		.container
			.row
				.col-lg-6
					.banner-text.mb-4 Разработка коммерческих предложений <span class="text-accent">«под&nbsp;ключ»</span>
					ul.check-list.d-flex.mb-5
						li.subtitle.mr-4 500 выполненных проектов
						li.subtitle.mr-4 +60% рост конверсии в&nbsp;продажу
						li.subtitle.mr-4 До 3 месяцев сопровождения и&nbsp;консультаций
					.btn2 Получить концепцию
				.col-lg-6.position-relative
					img.bust(src="img/general/bust.png", alt="")
		